plotly==4.5.0
dash==1.8.0
pandas==0.25.3
Flask==1.1.1
Flask-Compress==1.4.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
nbformat==4.4.0
numpy==1.16.4
pytz==2019.1
six==1.12.0
traitlets==4.3.2
Werkzeug==0.15.4
eventlet==0.25.1
